article.pix {
    /* background-color: red; */
    background-color: rgba(27, 28, 28, .93);
    top: 100vh;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, .5)) !important;
    z-index: -3;
}

article.pix.openned {
    top: 0;
    opacity: 1;
    z-index: 3;
}

article.pix.openned header {
    height: 50px;
    /* background-color: blue; */
}

article.pix.openned main {
    /* background-color: green; */
    height: 200px;
    min-height: 200px;
}

article.pix.openned main section {
    /* background-color: rgba(0, 255, 255, 0.384); */
    border-radius: .7rem;
    border-bottom: 2px solid #6b6b6b2a;
}

article.pix.openned main section div.input {
    /* background-color: rgb(127, 172, 255); */
    width: 75%;
    height: 50%;
}

@media(min-width:1px) {
    article.pix.openned main section div.input input {
        font-size: 10pt;
    }

    article.pix.openned main section div.input input::placeholder {
        font-size: 10pt;
    }
}

@media(min-width:568px) {
    article.pix.openned main section div.input input {
        font-size: 12pt;
    }

    article.pix.openned main section div.input input::placeholder {
        font-size: 12pt;
    }
}

@media(min-width:768px) {
    article.pix.openned main section div.input input {
        font-size: 17pt;
    }

    article.pix.openned main section div.input input::placeholder {
        font-size: 17pt;
    }
}

@media(min-width:1024px) {
    article.pix.openned main section div.input input {
        font-size: 22pt;
    }

    article.pix.openned main section div.input input::placeholder {
        font-size: 22pt;
    }
}

article.pix.openned main section div.input input {
    background-color: #30303065;
    color: #fafafa;
    border: none;
    border-bottom: 2px solid #303030;
}

article.pix.openned main section div.input input::placeholder {
    color: #fafafabd;
}

article.pix.openned main section p {
    font-size: 11pt;
}

article.pix.openned main section p b {
    font-weight: 900;
    font-size: 12pt;
}

article.pix.openned section.actions ul {
    overflow: hidden auto;
}

article.pix.openned section.actions ul li {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 10pt;
    font-weight: 700;
    cursor: pointer;
    transition-property: all;
    transition-duration: .2s;
}

article.pix.openned section.actions ul li i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20pt !important;
    width: 50px;
    height: 50px;
    margin-bottom: 4pt;
    background-image: linear-gradient(to bottom, rgba(60, 60, 61, .7), rgba(57, 58, 58, .7), rgba(56, 56, 57, .7));
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5)) !important;
    border-radius: .5rem;
}

article.pix.openned section.suggestions {
    border-radius: .7rem;
    border-top: 2px solid #6b6b6b2a;
}