@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}

::-webkit-scrollbar {
    /* width: 0;
    height: 0; */
    /* opacity: .5 !important; */
}

*::-webkit-scrollbar {
    width: 7pt;
    height: 7pt;
    background: none;
    border-radius: 1px;
    z-index: 10;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(34, 34, 34, .3);
    border-radius: 10px;
    background: none;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(34, 34, 34, .3);
    background-color: #555555a1;
    transition-property: all;
    transition-duration: .5s !important;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

body {
    min-width: 100svw;
    min-height: 100svh;
    background: rgba(27, 28, 28, 17);
    color: #fafafa;
}